<div>
  <app-mobile-sidebar 
    [isOpen]="isMobileSidenavOpen()"
    [navigationItems]="navigationItems"
    [teams]="teams"
    [userTeams]="userTeams()"
    [isTeamLeader]="isTeamLeader"
    [navigateToTeamTasks]="navigateToTeamTasks.bind(this)"
    (close)="closeMobileSidenav()">
  </app-mobile-sidebar>

  <app-desktop-sidebar 
    [navigationItems]="navigationItems"
    [teams]="teams"
    [userTeams]="userTeams()"
    [isTeamLeader]="isTeamLeader"
    [navigateToTeamTasks]="navigateToTeamTasks.bind(this)">
  </app-desktop-sidebar>

  <div class="lg:pl-72">
    <app-top-navigation 
      [isUserMenuOpen]="isUserMenuOpen()"
      (toggleMobileSidenav)="toggleMobileSidenav()"
      (toggleUserMenu)="toggleUserMenu()">
    </app-top-navigation>

    <main class="py-10">
      <div class="px-4 sm:px-6 lg:px-8">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
  
  <app-notification></app-notification>
</div>